/*Styling Body common properties*/

body{
    font-family: 'roboto', sans-serif;
    height: 100%;
    margin: 0;
}

/*Styling Heeader Section*/

.headerSection{
    background-color: #1F2937;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 450px;
}


.headerLogo{
    font-size: 24px;
    color: #f9faf8;
}
.headerTexts{
    
    width: 550px;
    margin-top: 100px;
}
.headerTexts .mainText{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.headerTexts .secondaryText{
    font-size: 18px;
    color: #E5E7EB;
}

.headerTexts button{
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 130px;
}




.headerLinks {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-left: 270px;
}

.headerLinks a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


.headerImage{
    display: flex;
}
.headerImage img{
    border-radius: 25px;
    margin-left: 200px;
    margin-top: 100px;
    width: 570px;
    height: 240px;
    object-fit: cover;
}


/*Styling Information Section*/

.information{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: auto;
    height: 440px;
} 
.menu-title{
    
    display: flex;
}
h2{
    color: #1f2937;
    padding-top: 5px;
    font-size: 40px;
    font-weight: 900;
    align-content: center;
}


.photo-frame {
    
    display: flex;
    gap: 30px;
    
}
.photo-frame img{
    
    border-radius: 24px;
    border: solid cornflowerblue;
    width: 180px;
    height: 180px;
    object-fit: cover; /*to a make picture fits in a frame/container*/
    
}

.paragraph {
    
    display: flex;
    gap: 30px;
    text-align: center;
    
    
}
.paragraph p{
    font-size:15px;
    color: #1f2937;
    width: 180px;
    
}





/*Styling Quote Section*/

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;

}

.quote-text{
    
    width: 610px;
    height: auto;
}

.quote-text span{
    font-size: 26px;
    color: #1F2937;
    font-style: italic;
}
.quote-text .author{
    color:#1F2937;
    font-size: 21px;
    margin-left: 420px;
    font-weight: bold;
}



/*Styling Contact Section */

 .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
} 
.box{
    display: flex;
    background-color: #3882f6;  
    border-radius: 10px; 
    width: 900px; 
    height: 86px;
    padding-top: 45px;
    padding-left: 50px;
}
.box .text1{
    font-size: 25px;
    
    color: #f9faf8;
    font-weight: 600;
}
.box .text2{
    font-size: 15px;
    color: #e5e7eb;
}

.boxBtn{
    display: flex;
    padding-left: 170px;
}

.boxBtn button{
    color: #f9faf8;
    font-weight: 600;
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 130px;
}



/*Styling the Footer */

.footer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f2937;
    height: 80px;
}
.footer span{
    font-size: 20px;
    font-weight:300;
    font-style: normal;
}